/dts-v1/;

#include "imx8mn-var-som.dtsi"

/ {
	model = "Variscite VAR-SOM-MX8M-NANO on fulfil board";
	compatible = "variscite,var-som-mx8mn", "fsl,imx8mn";

	reg_usdhc2_vmmc: regulator-usdhc2 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_reg_usdhc2_vmmc>;
		regulator-name = "VSD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio4 22 GPIO_ACTIVE_HIGH>;
		off-on-delay = <20000>;
		enable-active-high;
	};
};

&iomuxc {
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_hog: hoggrp {
		fsl,pins = <
			MX8MN_IOMUXC_SAI2_TXFS_GPIO4_IO24 		0x114
			MX8MN_IOMUXC_SAI2_TXC_GPIO4_IO25		0x114
			MX8MN_IOMUXC_SAI3_RXC_GPIO4_IO29		0x114
			MX8MN_IOMUXC_SAI3_RXD_GPIO4_IO30		0x114
			MX8MN_IOMUXC_GPIO1_IO08_GPIO1_IO8		0x114
			MX8MN_IOMUXC_GPIO1_IO13_GPIO1_IO13		0x114
			MX8MN_IOMUXC_SAI2_RXD0_GPIO4_IO23		0x114
			MX8MN_IOMUXC_SAI2_TXD0_GPIO4_IO26		0x114
			MX8MN_IOMUXC_SAI3_TXFS_GPIO4_IO31		0x114
		>;
	};
	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX8MN_IOMUXC_UART1_RXD_UART1_DCE_RX		0x140
			MX8MN_IOMUXC_UART1_TXD_UART1_DCE_TX		0x140
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX8MN_IOMUXC_UART3_RXD_UART3_DCE_RX		0x140
			MX8MN_IOMUXC_UART3_TXD_UART3_DCE_TX		0x140
		>;
	};

	pinctrl_uart4: uart4grp {
		fsl,pins = <
			MX8MN_IOMUXC_UART4_RXD_UART4_DCE_RX		0x140
			MX8MN_IOMUXC_UART4_TXD_UART4_DCE_TX		0x140
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX8MN_IOMUXC_SD2_CLK_USDHC2_CLK			0x190
			MX8MN_IOMUXC_SD2_CMD_USDHC2_CMD			0x1d0
			MX8MN_IOMUXC_SD2_DATA0_USDHC2_DATA0		0x1d0
			MX8MN_IOMUXC_SD2_DATA1_USDHC2_DATA1		0x1d0
			MX8MN_IOMUXC_SD2_DATA2_USDHC2_DATA2		0x1d0
			MX8MN_IOMUXC_SD2_DATA3_USDHC2_DATA3		0x1d0
			MX8MN_IOMUXC_GPIO1_IO04_USDHC2_VSELECT		0x1d0
		>;
	};

	pinctrl_usdhc2_100mhz: usdhc2grp100mhz {
		fsl,pins = <
			MX8MN_IOMUXC_SD2_CLK_USDHC2_CLK			0x194
			MX8MN_IOMUXC_SD2_CMD_USDHC2_CMD			0x1d4
			MX8MN_IOMUXC_SD2_DATA0_USDHC2_DATA0		0x1d4
			MX8MN_IOMUXC_SD2_DATA1_USDHC2_DATA1		0x1d4
			MX8MN_IOMUXC_SD2_DATA2_USDHC2_DATA2		0x1d4
			MX8MN_IOMUXC_SD2_DATA3_USDHC2_DATA3		0x1d4
			MX8MN_IOMUXC_GPIO1_IO04_USDHC2_VSELECT		0x1d0
		>;
	};

	pinctrl_usdhc2_200mhz: usdhc2grp200mhz {
		fsl,pins = <
			MX8MN_IOMUXC_SD2_CLK_USDHC2_CLK			0x196
			MX8MN_IOMUXC_SD2_CMD_USDHC2_CMD			0x1d6
			MX8MN_IOMUXC_SD2_DATA0_USDHC2_DATA0		0x1d6
			MX8MN_IOMUXC_SD2_DATA1_USDHC2_DATA1		0x1d6
			MX8MN_IOMUXC_SD2_DATA2_USDHC2_DATA2		0x1d6
			MX8MN_IOMUXC_SD2_DATA3_USDHC2_DATA3		0x1d6
			MX8MN_IOMUXC_GPIO1_IO04_USDHC2_VSELECT		0x1d0
		>;
	};

	pinctrl_usdhc2_gpio: usdhc2grpgpio {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO10_GPIO1_IO10		0x41
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX8MN_IOMUXC_SD2_CLK_USDHC2_CLK			0x190
			MX8MN_IOMUXC_SD2_CMD_USDHC2_CMD			0x1d0
			MX8MN_IOMUXC_SD2_DATA0_USDHC2_DATA0		0x1d0
			MX8MN_IOMUXC_SD2_DATA1_USDHC2_DATA1		0x1d0
			MX8MN_IOMUXC_SD2_DATA2_USDHC2_DATA2		0x1d0
			MX8MN_IOMUXC_SD2_DATA3_USDHC2_DATA3		0x1d0
			MX8MN_IOMUXC_GPIO1_IO04_USDHC2_VSELECT		0x1d0
		>;
	};

	pinctrl_reg_usdhc2_vmmc: regusdhc2vmmc {
		fsl,pins = <
			MX8MN_IOMUXC_SAI2_RXC_GPIO4_IO22		0x41
		>;
	};

	pinctrl_ecspi2_j17: ecspi2grp_j17 {
        fsl,pins = <
            MX8MN_IOMUXC_ECSPI2_SCLK_ECSPI2_SCLK    0x13    /* J17.6 */
            MX8MN_IOMUXC_ECSPI2_MOSI_ECSPI2_MOSI    0x13    /* J17.4 */
            MX8MN_IOMUXC_ECSPI2_MISO_ECSPI2_MISO    0x13    /* J17.8 */
            MX8MN_IOMUXC_ECSPI2_SS0_ECSPI2_SS0      0x13    /* J17.10 */
        >;
    };

	pinctrl_csi1: csi1grp {
		fsl,pins = <
			MX8MN_IOMUXC_GPIO1_IO13_GPIO1_IO13		0x19
			/*MX8MN_IOMUXC_ECSPI2_MISO_GPIO5_IO12		0x19*/
		>;
	};
};


&ecspi1 {
	status = "okay";
    /*/delete-property/ dmas;
    /delete-property/ dma-names;*/
};

&ecspi2 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_ecspi2_j17>;
    cs-gpios =  <&gpio5 13 GPIO_ACTIVE_LOW>;
    status = "okay";
    /* Test SPI device */
    spidev@0 {
        reg = <0>;
        compatible = "var,spidev";
        spi-max-frequency = <12000000>;
        status = "okay";
    };
};

&ov5640_mipi1 {
	// DISABLED to avoid conflict because pinctrl_ecspi2_j17 reports ECSPI2_MISO which is in use by pinctrl_csi1
	status = "disabled";
};

&mipi_csi_1 {
	// DISABLED to avoid conflict because pinctrl_ecspi2_j17 reports ECSPI2_MISO which is in use by pinctrl_csi1
	status = "disabled";
};

&i2c1 {
	clock-frequency = <400000>;
	status = "okay";
};

&i2c2 {
	clock-frequency = <400000>;
	status = "okay";
};

&i2c3 {
	status = "okay";

	/* DS1337 RTC module */
	rtc@68 {
		status = "disabled";
		compatible = "dallas,ds1337";
		reg = <0x68>;
	};
};

&i2c4 {
	status = "okay";
};

&sdma1{
	status = "okay";
};

/* Bluetooth */
&uart2 {
	status = "disabled";
};

/* Console */
&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
	/delete-property/ dmas;
	/delete-property/ dma-names;
};

/* SD */
&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>, <&pinctrl_usdhc2_gpio>;
	cd-gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
	bus-width = <4>;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	status = "okay";
};
